name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.23

      - name: Install dependencies
        run: bun install

      - name: Run typecheck
        run: bun typecheck

      - name: Build
        run: bun run build
